<a href="https://colab.research.google.com/github/karunaprakash062/ml/blob/main/qq.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
train_csv=pd.read_csv('/content/drive/MyDrive/train.csv')
cross_validation=pd.read_csv('/content/drive/MyDrive/cleaned_dev_data.csv')
test_cleaned=pd.read_csv('/content/drive/MyDrive/cleaned_test.csv')

In [4]:
# Drop rows that containing missing or null values.
test_cleaned.dropna(inplace=True)
# To reset the index after droping the rows
test_cleaned.reset_index(drop=True,inplace=True)
cross_validation.dropna(inplace=True)
cross_validation.reset_index(drop=True,inplace=True)

In [5]:
# creating a numpy array from the values in text column
text_data=np.array(train_csv['text'])

In [6]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import re

In [7]:
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
nltk.download('omw-1.4')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data] Downloading package omw-1.4 to /root/nltk_data...

True

In [8]:
stop_words=stopwords.words('english')
lemmatizer=WordNetLemmatizer()

In [9]:
cleaned_data=[]

In [10]:
for text in text_data:
  text=text.lower()
    #statement1-removing special characters and Punctuation
  sentence=re.sub(r'[^\w\s]','',text)
    #statement2-removing numbers from text
  sentence=re.sub(r'[0-9]+','',sentence)
    #statement3-removing html tags and urls from text
  sentence = re.sub(r'<.*?>', '', sentence)
    #statement4-removing urls from text
  clean_text = re.sub(r'http\S+', '',sentence)
    #statement5-text to word tokenization
  sentence=nltk.word_tokenize(sentence)
    #statement6-removing stop_words
  i=0
  while i<3:
    sentence = [word for word in sentence if word.lower() not in stop_words]
    i=i+1
  lst=[]
   #statement7-lemmatization
  for word in sentence:
    lst.append(lemmatizer.lemmatize(word))
  #statement8-joing words to form sentence
  cleaned_text=' '.join(lst)
  cleaned_data.append(cleaned_text)

In [11]:
train_csv['cleaned_text']=cleaned_data

In [12]:
train_df = train_csv
valid_df = cross_validation
train_df.shape,valid_df.shape

((8500, 5), (500, 6))

In [14]:
train_df.head()

,id,img,label,text,cleaned_text
0,42953,img/42953.png,0,its their character not their color that matters,character color matter
1,23058,img/23058.png,0,don't be afraid to love again everyone is not ...,dont afraid love everyone like ex
2,13894,img/13894.png,0,putting bows on your pet,putting bow pet
3,37408,img/37408.png,0,i love everything and everybody! except for sq...,love everything everybody except squirrel hate...
4,82403,img/82403.png,0,"everybody loves chocolate chip cookies, even h...",everybody love chocolate chip cooky even hitler

In [15]:
valid_df.head()

,Unnamed: 0,id,img,label,text,cleaned_text
0,0,8291,img/08291.png,1,white people is this a shooting range,white people shooting range
1,1,46971,img/46971.png,1,bravery at its finest,bravery finest
2,2,3745,img/03745.png,1,your order comes to $37.50 and your white priv...,order come white privilege discount brings total
3,3,83745,img/83745.png,1,it is time.. to send these parasites back to t...,time send parasite back desert
4,4,80243,img/80243.png,1,mississippi wind chime,mississippi wind chime

In [16]:
import tensorflow as tf
import tensorflow_hub as hub

In [17]:
train_data = tf.data.Dataset.from_tensor_slices((train_df.cleaned_text, train_df.label))
valid_data = tf.data.Dataset.from_tensor_slices((valid_df.cleaned_text, valid_df.label))

In [18]:
pip -q install tf-models-official

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.3/2.3 MB 30.0 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 118.9/118.9 KB 4.7 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 KB 3.3 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.3/1.3 MB 61.8 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 662.4/662.4 KB 40.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.1/1.1 MB 54.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.8/5.8 MB 69.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 352.1/352.1 KB 21.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 238.9/238.9 KB 21.6 MB/s eta 0:00:00
  Building wheel for seqeval (setup.py) ... done